<ion-tabs color="components-background">
  <ion-tab [root]="tab1Root" tabTitle="Explorar" tabIcon="ios-compass"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Novo Filme" tabIcon="add-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Usuário" tabIcon="person"></ion-tab>
</ion-tabs>
