<div *ngIf="isArray; else isObervable">
  <ion-slides [slidesPerView]="slidesPerView">
    <ion-slide *ngFor="let filme of filmes">
      <ion-card>
        <!-- <h1 class="card-pesquisa-categoria">
              {{ filme.categoria.nome }}
            </h1> -->
        <img [src]="filme.image" />
        <ion-card-content>
          <ion-card-title>
            {{ filme.nome }}
          </ion-card-title>
          <p>
            {{ 'Duração: ' + filme.duracao + 'm'}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>

<ng-template #isObervable>
  <ion-slides [slidesPerView]="slidesPerView">
    <ion-slide *ngFor="let filme of filmes | async">
      <ion-card>
        <h1 class="card-pesquisa-categoria">
          {{ filme.categoria.nome }}
        </h1>
        <img [src]="filme.image" />
        <ion-card-content>
          <ion-card-title>
            {{ filme.nome }}
          </ion-card-title>
          <p>
            {{ 'Duração: ' + filme.duracao + 'm'}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ng-template>
