slide-filmes {
  ion-slides {
    height: auto;
    ion-slide{

      ion-card{
        img{
          height: 100% !important;
          width: 100% !important;
        }
        .card-pesquisa-categoria{
          background-color:  rgb(71, 7, 16);
          color: #fff;
          padding: 5px 5px;
        }
        ion-card-content{
          background-color: map-get($colors, components-background);
          ion-card-title{
            font-weight: bold;
          }
          ion-card-title, p{
            color: #fff !important;
          }
        }
      }
    }
  }
}
