<ion-header>
  <ion-navbar color="app-bar">
    <ion-title>
      Cadastro de Filme
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="filmeForm" (ngSubmit)="salvar()">
      <ion-item no-lines>
        <ion-label stacked>Imagem</ion-label>
        <ion-input type="file" name="image" (ionChange)="onFileChange($event)"></ion-input>
      </ion-item>
      <ion-item no-lines>
        <ion-label stacked>Nome</ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>
      <ion-item no-lines>
        <ion-label stacked>Categoria</ion-label>
        <ion-select  formControlName="categoriaId">
          <ion-option *ngFor="let cat of categorias$ | async" [value]="cat.id">{{ cat.nome }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item no-lines>
        <ion-label stacked>Duração</ion-label>
        <ion-input type="text" formControlName="duracao"></ion-input>
      </ion-item>

      <button ion-button color="primary" full type="submit" [disabled]="!filmeForm.valid">Cadastrar</button>
    </form>

</ion-content>
