<ion-header>
  <ion-navbar color="app-bar">
    <ion-title>Lista de Filmes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar
      [(ngModel)]="pesquisa"
      [showCancelButton]="false"
      (ionInput)="onPesquisa($event)">
    </ion-searchbar>

    <div *ngIf="pesquisa == ''">
        <div *ngFor="let cat of listaDeFilmes$ | async">
            <div *ngIf="cat?.filmes?.length > 0">
              <div class="categoria">
                <span class="categoria-label">{{ cat.nome}}</span>
              </div>

              <slide-filmes [filmes]="cat.filmes"></slide-filmes>
            </div>
          </div>
    </div>

    <div *ngIf="pesquisa != ''">
      <div class="categoria">
        <span class="categoria-label">Resultado</span>
      </div>
      <slide-filmes [filmes]="listaDeFilmesPesquisa$"></slide-filmes>
    </div>


</ion-content>
