page-explorar {

  .categoria{
    display: block;
    width: 100%;
    margin: 20px 0px;
    padding: 5px 5px;
    border-left: 3px solid rgb(71, 7, 16);
    font-size: 18px;
    .categoria-label{
      font-weight: bold;
      color: #fff;
      width: 100%;
      height: 100%;
      display: block;
      padding-bottom: 3px;
      padding-top: 3px;
      padding-left: 5px;
      background-color: map-get($colors, app-bar);
    }
  }
}
